@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #fff;
}
body {
  width: 100%;
  min-height: 100vh;
  background: #1d1d1d;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* overflow: hidden; */
}
.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid #fff;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-wrap: wrap;
  width: 35%;
}
.logo h1 {
  font-size: 25px;
  font-weight: 400;
  margin-right: 10px;
}
.logo h1 a {
  text-decoration: none;
}
.logo h1 a:hover {
  border-bottom: 1px solid #fff;
}
.logo span {
  font-size: 12px;
}

.list {
  width: 65%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 4px;
}
.list #audioBtn i{
  margin-right: 10px;
}
.list li {
  list-style: none;
  border: 2px solid #333131;
  padding: 4px 10px;
  transition: 0.4s ease-in-out;
}
.list li a {
  font-size: 15px;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 1px;
}
.list li:hover {
  background: #fff;
}
.list li:hover a,
.list li:hover i {
  color: #1d1d1d;
}
.list li i {
  font-size: 17px;
}
.navbar #bar {
  display: none;
}
/* ############################## section 1 styling ##################### */

.sec-1{
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.sec-1 a{
  font-size: 140px;
  animation: play 1.5s infinite ;
}
@keyframes play{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
  }
}
/* ######## exit box ############### */
.exitBox{
  min-width: 320px;
  height: 150px;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: #fff;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  animation: popup 0.4s ease-in-out forwards;
  z-index: 21;
}
@keyframes popup {
  0%{
    transform: scale(0) translate(-50%,-50%);
  }
  50%{
    transform: scale(1.5) translate(-50%,-50%);
  }
  100%{
    transform: scale(1) translate(-50%,-50%);
  }
}
.exitBox h3{
  font-size: 30px;
  color: #000;
  font-weight: 500;
}
.exitBox .btnBox{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.btnBox button{
  width: 70px;
  padding: 4px 0;
  border: none;
  border-radius: 7px;
  color: #000;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}
.btnBox #noBtn{
  border: 1px solid #000;
  background-color: #Fff;
  transition: 0.3s ease-in-out;
}
.btnBox #noBtn:hover{
  background-color: #000;
  color: #fff;
}
.btnBox #yesBtn{
  background-color: #000;
  color: #fff;
  transition: 0.3s ease-in-out;
}
.btnBox #yesBtn:hover{
  background-color: #fff;
  color: #000;
  border: 1px solid #000  ;
}

/* ####################### level list styling #################### */
.levelList{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 300px;
  background: #fff;
  border-radius: 10px;
  display: none;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  z-index: 444;
  animation: levellist 0.2s ease-in-out forwards;
}
@keyframes levellist {
  0%{
    transform: scale(0) translate(-50%,-50%);
  }
  50%{
    transform: scale(1.2) translate(-50%,-50%);
  }
  100%{
    transform: scale(1) translate(-50%,-50%);
  }
}
.levelList li{
  list-style: none;
  width: 100%;
  border-bottom: 1px solid #1d1d1d;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: 0.4s ease-in-out;
  padding: 10px 8px;
  cursor: pointer;
}
.levelList li:hover{
  background: #000;
}
.levelList li a{
  color: #000;
  text-decoration: none;
  font-size: 18px;
}
.levelList li:hover a{
  color: #Fff;
}

/* ################# loading styling ################## */

.loading{
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  display: none;
}
.loading .loadBar{
  width: 550px;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 30px;
  overflow: hidden;
}
.loadBar .loadLine{
  width: 0%;
  height: 100%;
  background-color: #fff;
}
.loading span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 20px;
  font-weight: 700;
}

/* ######################### level section styling ########################## */
.levelContainer{
  width: 100%;
  min-height: 86vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
}
.levelContainer .level-1{
  width: 100%;
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.level-1 h1{
  font-size: 35px;
  letter-spacing: 1px;
}
.level-1 .questionBox h1{
 font-size: 30px;
 font-weight: 400;
}
.level-1 .checking{
  width: 290px;
  height: 120px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.level-1 .checking .inputBox{
  width: 100%;
  height: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.checking .inputBox input{
width: 55%;
height: 100%;
border-radius: 5px;
outline: none;
border: none;
font-size: 14px;
background-color: #292626;
box-shadow: 0 0 3px #fff;
padding: 0 13px;
}
.checking .inputBox input::placeholder{
  color: #eee;
}
.checking .inputBox button{
  width: 18%;
  height: 100%;
  cursor: pointer;
  background-color: #292626;
  cursor: pointer;
  border-radius: 4px;
  outline: none;
  border: none;
  font-size: 15px;
  transition: 0.4s ease-in-out;
  box-shadow: 0 0 2px #bbb;
}
.checking .inputBox button:hover{
  background-color: #000;
}















/* ######################### media query ######################## */

@media (max-width: 905px) {
  .navbar {
    position: relative;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
  }
  .navbar .logo {
    width: 85%;
    justify-content: flex-start;
    padding-left: 10px;
  }
  .navbar .logo h1 {
    z-index: 2020;
    font-weight: 900;
    font-size: 19 px;
  }
  .navbar #bar {
    display: block;
    font-size: 30px;
    cursor: pointer;
    width: 15%;
    text-align: center;
    z-index: 116;
    color: #fff;
    padding-right: 10px;
  }
  .list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    background-color: #fff;
    position: absolute;
    top: -500px;
    right: 0px;
    padding-right: 0;
    padding: 10px 8px;
    padding-top: 70px;
    transition: 0.4s ease-in-out;
    z-index: 15;
    border-bottom-left-radius: 30px;
  }
  .list li {
    width: 80%;
    margin: 8px 0;
    padding: 10px 7px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    word-wrap: break-word;
    word-break: break-all;
  }
  .list li:hover {
    background: #1d1d1d;
  }
  .list li:hover a,
  .list li:hover i {
    color: #fff;
  }
  .list li a {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    color: #1d1d1d;
    font-size: 15px;
  }
  .list li i {
    color: #1d1d1d;
    margin-right: 8px;
  }
  .sec-1 a{
    font-size: 50px;
  }
  .loading .loadBar{
    width: 200px;
    height: 20px;
  }
  .loading span{
    font-size: 15px;
  }

  .levelList{
    width: 280px;
    background: #1d1d1d;
    box-shadow: 0 0 5px #eee;
    top: 65%;
    left: 50%;
  }
  .levelList li{
    border-bottom: 1px solid #fff;
  }
  .levelList li:hover{
    background: #fff;
  }
  .levelList li a{
    color: #fff;
    font-size: 16px;
  }
  .levelList li:hover a{
    color: #1d1d1d;
  }


}





